
nav, a{
	margin-top: 60px;
	color: black;
}
/*section one*/
.banner{
	background-image: url(../img/semilla.jpg);
	height: 500px;
	background-size: 100% 500px;
	background-repeat: no-repeat; 
}
.plomito{
	height: 200px;
	width: 100%;
	border: 1px solid #f2f2f2;
}
.txt1{
	padding: 50px 300px ;
}
/*section 2*/
.mision, .vision{
	padding:55px;
}
#mivi{
	position: relative;
	left: 160px;
	
}
/*section5*/
.img5{
	background-image: url(../img/metodo.JPG);
	
	height: 380px;
	
	margin: 0;
	
}
.fondo{
	background-image: url(../img/fondo.jpg);
	
	height:380px;
	
	margin: 0;
	
}
.img-metodo{
	margin: 0 !important; 
	width: 50% !important;
}

/*=======================================================Servicios======================================*/
.edu{
	border:1px solid green;
	padding: 70px;
}
.text-ser{

}
.txt3{
	margin-right: 20px;
	margin-left:30px;
	font-size: 26px;
}
.text-l{
	font-size: 20px;
}
/*============================================Proyectos===============================================*/

.bloque6 .sub{
	font-size: 18px;
	margin-bottom: 10px;