
nav, a{
	margin-top: 60px;
	color: black;
}
/*section one*/
.banner{
	background-image: url(../img/semilla.jpg);
	background-position: center; 
	height: 500px;
	margin:0;
	
}
.plomito{
	height: 200px;
	width: 100%;
	border: 1px solid #f2f2f2;
}
.txt1{
	padding: 50px 300px ;
}
/*=====================================================Misión Visión======================================*/
.mision, .vision{
	padding:55px;
}
#mivi{
	position: relative;
	left: 220px;
	
}
/*section5*/
.img5{
	background-image: url(../img/metodo.JPG);
	
	height: 380px;
	
	margin: 0;
	
}
.fondo{
	background-image: url(../img/fondo.jpg);
	
	height:380px;
	
	margin: 0;
	
}
.img-metodo{
	margin: 0 !important; 
	width: 50% !important;
}

/*=======================================================Servicios======================================*/
.edu{
   padding: 0px;
	border: 1px solid green;	
}
.txt3{
	margin-right: 20px;
	margin-left:30px;
	font-size: 26px;
}
.text-l{
	font-size: 20px;
}
/*============================================Proyectos===============================================*/
.proyectos {
	background-color: #358B4D;
	padding-bottom: 2%;
}
.niñas{
	width: 700px;
	height: 450px;
	border:1px solid green;
}
.text3{
	padding-bottom: 300px;
}
/*============================================Equipo===============================================*/
#equipo{
	border-radius: 50%;
	width: 250px;
}
/*============================================Blog===============================================*/
.fondo2{
	background-image: url(../img/fondo2.jpg);
	
	margin: 0;
}
.gray{
	color:gray;
}
.box{
  padding: 80px;
  border:1px solid green;
}
/*
.flechis1{
	float: left;
  margin: 213px 0px 0px 50px;
}
.flechis2{
	float: right;
	margin: -213px 55px 0px 0px
}*/
/*============================================redes===============================================*/
.gray-9{
	background-color: gray;
	height: 300px;
}
.fb{
border: 3px solid #544d4d;
height: 200px;
}
.twit{
	border: 3px solid #544d4d;
	height: 200px;
	
}
.mail{
	border: 3px solid #544d4d;
	height: 200px;

}
.lin{
	border: 3px solid #544d4d;
	height: 200px;
}
#redes{
	
	height:50px;
	width: 50px;
	position: relative;
	left: 180px;
	bottom:50px;
}
/*============================================Footer===============================================*/
.laboratoria{
 color: #f03303;
}
