
nav, a{
	margin-top: 60px;
	color: black;
}
/*section one*/
.banner{
	background-image: url(../img/semilla.jpg);
	height: 500px;
	background-size: 100% 500px;
	background-repeat: no-repeat; 
}
.plomito{
	height: 200px;
	width: 100%;
	border: 1px solid #f2f2f2;
}
.txt1{
	padding: 50px 300px ;
}
/*section 2*/
.mision, .vision{
	padding:55px;
}
#mivi{
	position: relative;
	left: 160px;
	
}
/*section5*/
.img5{
	background-image: url(../img/metodo.JPG);
	
	height: 380px;
	
	margin: 0;
	
}
.fondo{
	background-image: url(../img/fondo.jpg);
	
	height:380px;
	
	margin: 0;
	
}
.img-metodo{
	margin: 0 !important; 
	width: 50% !important;
}

/*=======================================================Servicios======================================*/
.edu{
	border:1px solid green;
	padding: 70px;
}
.text-ser{

}
.txt3{
	margin-right: 20px;
	margin-left:30px;
	font-size: 26px;
}
.text-l{
	font-size: 20px;
}
/*============================================Proyectos===============================================*/
.proyectos {
	background-color: #358B4D;
	padding-bottom: 2%;
}
.niñas{
	width: 700px;
	height: 450px;
	border:1px solid green;
}
.text3{
	padding-bottom: 200px;
}
/*============================================Equipo===============================================*/
#equipo{
	border-radius: 50%;
	width: 250px;
}
/*============================================Blog===============================================*/
.fondo2{
	background-image: url(../img/fondo2.jpg);
	height:380px;
	margin: 0;
}
.gray{
	color:gray;
}
.box{
  padding: 80px;
  border:1px solid green;
}
.flecha1{
	float: left;
  margin: 213px 0px 0px 50px;
}
.flecha2{
	float: right;
	margin: -240px 55px 0px 0px
}
